body {
    background: #000;
    margin: 0;
    font-family: 'SF Pro Display', 'SF Pro Text', -apple-system, sans-serif;
    font-size: 16px;
}

.hs-reader-body {
    padding-top: 50svh;
}

.hs-reader-img {
    display: block;
    width: 100%;
    height: auto;
}

.hs-chapter {
    margin-bottom: 24px;
}
